// app global css in SCSS form
.scrollable-bar {
  overflow: auto;
  &::-webkit-scrollbar {
      transform: translateX(-5px);
      width: 8px;
      height: 5px;
      border-radius: 10px;

    &-track {
      background: #3e3e3e;
      border-radius: 10px;
    }

    &-thumb {
      background: rgb(21, 21, 21);;
      border-radius: 10px;
    }

    &-thumb:hover {
      background: rgb(21, 21, 21);
    }
  }
}